.SearchResults {
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 15, 59, 0.527);
    min-width: 500px;
    max-width: 700px;
    margin-right: 50px;
}

.title {
    text-align: left;
    font-size: 35px;
    margin: 0px;
    color: white;
}