.Tracklist {
    max-height: 907px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(140, 0, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(27, 15, 59, 0.904);
    border-radius: 10px;
}

@media screen and (max-width: 1020px) {
    .Tracklist {
        max-height: 607px;
        overflow-y: scroll;
    }
}