.Playlist {
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 15, 59, 0.527);
    min-width: 500px;
    max-width: 700px;
    margin-left: 50px;
}

.title {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 3px;
    margin: 0px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
}

.button-container {
    margin-top: 15px;
    justify-content: center;
}

.save-button {
    padding: 12px 18px 12px 18px;
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
}

.save-button:hover {
    cursor: pointer;
}

.save-button:active {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}