.Playlist {
    display: block;
    width: 47%;
    background-color: rgba(27, 15, 59, 0.527);
}

.playlist-title {
    overflow: hidden;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    padding-top: 7px;
    margin: 0px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    color: white;
    width: 93%;
}

.button-container {
    margin-top: 15px;
    justify-content: center;
    padding-bottom: 12px;
}

.save-button {
    padding: 12px 18px 12px 18px;
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
}

.save-button:hover {
    cursor: pointer;
}

.save-button:active {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

.Playlist .Tracklist {
    max-height: 834px;
    overflow-y: scroll;
}

@media screen and (max-width: 1020px) {
    .Playlist {
        width: 100%;
        margin: 0px;
        height: 650px;
    }

    .Playlist .Tracklist {
        max-height: 534px;
        overflow-y: scroll;
    }
}